pdfplumber
pytesseract
pdf2image
pandas
openpyxl
fuzzywuzzy
rapidfuzz
python-Levenshtein
sentence-transformers
Pillow
python-dotenv
streamlit
gdown
google-api-python-client
google-auth
google-auth-oauthlib
PyDrive2
python-docx
docx2txt
phonenumbers
reportlab
